#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header {
  background: linear-gradient(45deg, #2dd4bf, #0ea5e9);
  padding: 2rem;
  color: white;
}

.header h1 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
}

nav a:hover {
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.welcome-text {
  color: #334155;
  margin: 1rem 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
